header {
    height: 50px;
    margin-left: 300px;
    background-color: rgba($color: $background-color, $alpha: $background-opacity);
    backdrop-filter: blur(10px);

    .btn-open-nav {
        cursor: pointer;
        visibility: collapse;
    }
}
