@include fontFace;

* {
    font-family: 'Manjari';
}
body {
    background-image: url('https://images.pexels.com/photos/2418664/pexels-photo-2418664.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

$background-color: #fff;
$background-opacity: 0.5;